%ul.calendar

  %li.day_1
    =nav_link '1', '#'
    %p T'was the night before Christmas and n'each campus floor
    %p Not a student was stirring except Miss Lagore!

  %li.day_2
    =nav_link '2', '#'
    %p 'Though the lab lonely this holiday sabbath,
    %p Lagore stayed late working on something mammoth!

  %li.day_3
    =nav_link '3', '#'
    %p The blackboard obscured below layers of chalk.
    %p Formulae fetched faculty and not poppycock!


  %li.day_4
    =nav_link '4', '#'
    %p Stepping back to detangle this detailed morass,
    %p Scientifically, she had proven Christmas!

  %li.day_5
    =nav_link '5', '#'
    %p "Eureka!" she shouted! Lagore was in good cheer!
    %p 'Though she b'lieved herself solus, somebody was here...

  %li.day_6
    =nav_link '', '#'
    %p In the shadows, a figure. "Bravo!" its voice shrieked.
    %p "Afraid I must stop you, lest this festive find leak!"

  %li.day_7
    =nav_link '', '#'
    %p "You'll stop me?" Lagore turned, now facing the foe.
    %p "But Christmas is fact! The whole world—it must know!"

  %li.day_8
    =nav_link '', '#'
    %p "Christmas?" it cussed, "Why, bah humbug's too good!"
    %p "Blotting out the stat holiday's my livelihood..."

  %li.day_9
    =nav_link '', '#'
    %p Miss Lagore was outraged—veins popped out her neck! 
    %p Lib'ral agendas, on her, have this effect! 

  %li.day_10
    =nav_link '', '#'
    %p The villain advanced, vehemence vexing all faith: 
    %p Academic apparition, Faux-Christmas Wraith!

  %li.day_11
    =nav_link '', '#'
    %p Malign mist manifested as putrid breath breathed: 
    %p "Culture condemn you, priv'leged race, class and creed!"

  %li.day_12
    =nav_link '', '#'
    %p The back wall then exploded! The room filled with ice!
    %p And in poured a pack of Progressive Poltergeists!

  %li.day_13
    =nav_link '', '#'
    %p Faux-Christmas then hailed and called each by their name:
    %p "Now P.C.! Now Vegan! On Weed and White Shame!"

  %li.day_14
    =nav_link '', '#'
    %p "Go K'yoto! Go Pinko!" it demanded, deranged.
    %p "Pro-Choice! Anti-Gender! Sweeping Social Change!"

  %li.day_15
    =nav_link '', '#'
    %p "Oh horror!" Lagore hollered, roaring distraught!
    %p Clearly Christmas was only one part of their plot!

  %li.day_16
    =nav_link '', '#'
    %p The blackboard was swarmed! The devils were deft!
    %p They clawed at its surface till nothing was left!

  %li.day_17
    =nav_link '', '#'
    %p Her expressions expunged and graphs gruesomely gored,
    %p In hindsight, she ought to have used a Smart Board.

  %li.day_18
    =nav_link '', '#'
    %p Faux-Christmas Wraith sneered, victory secured!
    %p "Ha ha! With no proof, the holidays are obscured!"

  %li.day_19
    =nav_link '', '#'
    %p Reaching into her coat, Lagore taunted the troll.
    %p "You invited your fiends but forgot Gun Control."

  %li.day_20
    =nav_link '', '#'
    %p "A revolver!" it faltered. "But why do you carry?!"
    %p "I'm a con," Lagore yawned. "Have a Christmas, merry."

  %li.day_21
    =nav_link '', '#'
    %p 
    %p 

  %li.day_22
    =nav_link '', '#'
    %p 
    %p 

  %li.day_23
    =nav_link '', '#'
    %p Christmas needn't be proven with figures nor charts;
    %p Truth's incontestable when God touches men's hearts.

  %li.day_24
    =nav_link '', '#'
    %p Miss Lagore, now content, could classically cite:
    %p "Happy Christmas to all, and to all a good night!"















