%table{:cellspacing => "0", :cellpadding => "0", :width => "650"}
  %tr
    %td
      %img{:src => 'http://suderman.me/advent/images/header.jpg', :width => "650", :height => "174"}

%table{:cellspacing => "0", :cellpadding => "4", :width => "650"}

  =day 1, "T'was the night before Christmas and on each campus floor<br>Not a student was stirring except Miss Lagore!"
  =day 2, "'Though the lab lonely this holiday sabbath,<br>Lagore stayed late working on something mammoth!"
  =day 3, "The blackboard obscured below layers of chalk.<br>Formulae fetched faculty and not poppycock!"
  =day 4, "Stepping back to detangle this detailed morass,<br>Scientifically, she had proven Christmas!"
  =day 5, '"Eureka!" she shouted! Lagore was in good cheer!<br>\'Though she b\'lieved herself solus, somebody was here...'
  =day 6, 'In the shadows, a figure. "Bravo!" its voice shrieked.<br>"Afraid I must stop you, lest this festive find leak!"'
  =day 7, '"You\'ll stop me?" Lagore turned, now facing the foe.<br>"But Christmas is fact! The whole world&mdash;it must know!"'
  =day 8, '"Christmas?" it cussed, "Why, bah humbug\'s too good!"<br>"Blotting out the stat holiday\'s my livelihood..."'
  =day 9, "Miss Lagore was outraged&mdash;veins popped out her neck!<br>Lib'ral agendas, on her, have this effect!"
  =day 10, "The villain advanced, vehemence vexing all faith:<br>Academic apparition, Faux-Christmas Wraith!"
  =day 11, 'Malign mist manifested as putrid breath breathed:<br>"Culture condemn you, priv\'leged race, class and creed!"'
  =day 12, "The back wall then exploded! The room filled with ice!<br>And in poured a pack of Progressive Poltergeists!"
  =day 13, 'Faux-Christmas then hailed and called each by their name:<br>"Now P.C.! Now Vegan! On Weed and White Shame!"'
  =day 14, '"Go K\'yoto! Go Pinko!" it demanded, deranged.<br>"Pro-Choice! Anti-Gender! Sweeping Social Change!"'
  =day 15, '"Oh horror!" Lagore hollered, roaring distraught!<br>Clearly Christmas was only one part of their plot!'
  =day 16, "The blackboard was swarmed! The devils were deft!<br>They clawed at its surface till nothing was left!"
  =day 17, "Her expressions expunged and graphs gruesomely gored,<br>In hindsight, she ought to have used a Smart Board."
  =day 18, 'Faux-Christmas Wraith sneered, victory secured!<br>"Ha ha! With no proof, the holidays are obscured!"'
  =day 19, 'Reaching into her coat, Lagore taunted the troll.<br>"You invited your fiends but forgot Gun Control."'
  =day 20, '"A revolver!" it faltered. "But why do you carry?!"<br>"I\'m a con," Lagore yawned. "Have a Christmas, merry."'
  =day 21, '&nbsp;'
  =day 22, '&nbsp;'
  =day 23, "Christmas needn't be proven with figures nor charts;<br>Truth's incontestable when God touches men's hearts."
  =day 24, 'Miss Lagore, now content, could classically cite:<br>"Happy Christmas to all, and to all a good night!"'
