!!!
%html
  %head
    %title Agrium
    %meta{'http-equiv' => 'imagetoolbar', 'content' => 'no'}
    %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=EmulateIE7'}
    = stylesheets :blueprint, :application
    = javascripts :jquery, :underscore, :application
  %body
    #site
      #content
        = yield
        .clear
